body
{
	text-align: center;
	user-select: none;
	font-size: 16px;
	color: white;
	background-color: #727687;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

canvas
{
	position: relative;
	border : thin solid black;
	display: block;
	margin: 0 auto 20px;
  cursor: none;
}

#logo
{
	width: 300px;
	height: 40px;
}

#hero
{
	width: 300px;
	height: 600px;
}
